
body {
  display: grid;
  grid-template-rows: auto 3em;
  min-height: 100vh;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: hsl(200, 15%, 20%);
}

.main {
  align-self: center;
}
.main > h1 {
  font-weight: bold;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: hsl(200, 15%, 60%);
}
footer a {
  color: inherit;
}

.text-center {
  text-align: center !important;
}
