{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer" class="bg-one">
  <div class="top-footer">
    <p>Built by <a href="https://keithjgrant.com">Keith J. Grant</a> | View <a href="https://github.com/keithjgrant/omnibear">source on Github</a></p>
  </div>
  <div class="footer-bottom">
    <p>Theme modified from Navigator by <a href="https://themefisher.com">Themefisher</a> &copy; 2018 <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY-3.0</a></p>
  </div>
</footer>
{{ "<!-- end footer -->" | safeHTML }}


{{ "<!-- Essential Scripts -->" | safeHTML }}

{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "/plugins/jquery/dist/jquery.min.js" }}"></script>
{{ "<!-- Bootstrap -->" | safeHTML }}
<script src="{{ "/plugins/bootstrap/dist/js/popper.min.js" }}"></script>
<script src="{{ "/plugins/bootstrap/dist/js/bootstrap.min.js" }}"></script>
{{ "<!-- Parallax -->" | safeHTML }}
<script src="{{ "/plugins/parallax/jquery.parallax-1.1.3.js" }}"></script>
{{ "<!-- Slick Carousel -->" | safeHTML }}
<script src="{{ "/plugins/slick-carousel/slick/slick.min.js" }}"></script>
{{ "<!-- Custom js -->" | safeHTML }}
<script src="{{ "/js/script.js" }}"></script>

</body>

</html>
